       <div data-role="header">
           <h1 class="logo" style="font-size:15px; font-weight:600;">
               <a href="/"style="color:black; text-decoration:none;">AfterSquat</a>
           </h1>
       </div> 
       
       
       
    <div  data-role="content">

        <div id="demo-coverflow">
<img class="cover" src="assets/1.jpg"/>
<img class="cover" src="assets/2.jpg"/>
<img class="cover" src="assets/3.jpg"/>
<img class="cover" src="assets/4.jpg"/>
<img class="cover" src="assets/5.jpg"/>
<img class="cover" src="assets/6.jpg"/>

</div>



    </div>
          
          
    <div data-role="footer" data-position="fixed" data-fullscreen="true">
      <div data-role="navbar">
        <ul>
           <li><a href="/"  data-icon="back"></a></li>
       </ul>
      </div>
    </div> 
       