<nav class=" navbar-fixed-top" style="margin-top:10px">
    <div class="nav">
    <a href="#"><span style="font-size:26px; float: right; color:gray;" class="glyphicon glyphicon-question-sign" aria-hidden="true">&nbsp;</span></a>
    </div>
</nav>


 
 

  
<div align="center" style="margin-bottom:20px;">
       <h1 class="logo" style="font-size:25px; font-weight:700; margin-top: 20px;">
       <a href="/"style="color:black; text-decoration:none;">AfterSquat</a>
   </h1>
</div> 
<hr>
       
       
<div id="pic_box">
    <div class="masonry">
        <% @posts.each do |p|%>
            <a href="/posts/<%=p.id%>" >
            <input class="item" type="image" src="<%=p.image_url%>" alt="{alternate text}" />
            </a>
        <% end %>
    </div> 
    </div>
</div>


<div id="footer">
  <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
  <div class="row" id="bottomNav">
    <div class="col-xs-4 text-center"><a href="/posts/new"><i class="glyphicon glyphicon-camera"></i><br>Write</a></div>
    <div class="col-xs-4 text-center"><a href="/<%=current_user.username%>"><i class="glyphicon glyphicon-user"></i><br>Profile</a></div>
    <div class="col-xs-4 text-center"><a href="https://facebook.com/aftersquat"><i class="glyphicon glyphicon-thumbs-up"></i><br>Facebook</a></div>
  </div>
  </div>
</div>
